<div class="container">
    <div class="row">
        <div class="col-md-4 ml-auto mr-auto text-center pt-5">
            <div v-if="internalAccounts.length>0">
                <ul>
                    <li v-for="account in internalAccounts">{{'{{generateOtp(account)}} {{account.issuer}} ({{decodeURIComponent(account.label)}})'}}</li>
                </ul>
            </div>
            <div v-else>
                <p>No accounts yet.</p>
                <p><button v-on:click="goAdd" class="btn btn-sm btn-primary">Add +</button></p>
            </div>
        </div>
    </div>
</div>